name: Purge Cloudflare Cache
on: 
  workflow_dispatch:
    inputs:
      reason:
        description: 'Why are you purging the cache?'
        required: false
        default: 'Manual Trigger'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Purge Cloudflare Cache
      uses: ./github/actions/cloudflare-purge-action
      env:
        CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
        CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
